<div class="container content">
	<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
		<div class="rows">
			<div class="form-group">
				<label  for="projectId">
					ID:
				</label>
				<input type="text" class="form-control" placeholder="projectId" formControlName="projectId" required name="projectID">
			</div>
		</div>

		<div class="rows">
			<div class="form-group">
				<label  for="name">
					Name:
				</label>
				<input type="text" class="form-control" placeholder="name" formControlName="name" required name="name">
			</div>
		</div>
		
		<div class="rows">
			<div class="form-group">
				<label for="emailId">
					Email:
				</label>
				<input type="email" class="form-control" required name="emailId" placeholder="emailId" formControlName="emailId">
			</div>
		</div>
		
		<div class="rows">
			<div class="form-group">
				<label for="location">
					Location:
				</label>
				<select class="form-control" id="location" required name="location" formControlName="location">
					<option value="Delhi">Delhi</option>
					<option value="Mumbai">Mumbai</option>
					<option value="Chennai">Chennai</option>
					<option value="Kolkata">Kolkata</option>
					<option value="Bangalore">Bangalore</option>
				</select>
			</div>
		</div>
		
		<div class="rows">
			<div class="form-group">
				<label for="gitUrl">
					Git Link:
				</label>
				<input type="text" class="form-control" required name="gitUrl" placeholder="gitUrl" name="gitUrl" formControlName="gitUrl">
			</div>
		</div>

		<div class="rows">
			<button type="submit" class="btn btn-success" >Submit</button>
			<button type="reset" class="btn btn-default" >Reset</button>
		</div>
	</form>
</div>	