<nav class="container-fluid">
    <div class="row">
        <div class="navbar">
            <ul class="col-12">
                <li class="h1 col-3">{{title}}</li>
                <li class="col-2"><button type="button" class="btn btn-success btn-large" (click)="time.start(); onClick(); game.startGame();" [hidden]="start"><a routerLink="/main"></a>Start Game</button></li>
                <li class="col-2"><button type="button" class="btn btn-success btn-large" (click)="time.toggle(); onClick();" [hidden]="!game.isGameOn">pause/play</button></li>
                <li class="col-2"><button type="button" class="btn btn-success btn-large" (click)="time.reset(); time.start(); onClick(); game.startGame();" [hidden]="!(!game.isGameOn && start)">Play Again</button></li>
                <li class="col-2"><button type="button" class="btn btn-success btn-large" (click)="time.reset(); onSubmit(); game.isGameOn=false; time.mustStop=false;" [hidden]="!(!game.isGameOn && start)"><a routerLink="/submit">Share</a></button></li>
                <li class="col-2"></li>
            </ul>
        </div>
  </div>
</nav>

<div class="container content" [hidden]="!start">
  <div class="row">
      <div class="col-9">
          <app-game #game [isGameOn]="myfunction()" [isGameRunning]="myfunction2()"></app-game>
      </div>

      <div class="col-3">
          <app-timer #time></app-timer>
      </div>
  </div>
</div>

<router-outlet></router-outlet>